//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Wed 01 25 21:33:22 2023

IO_LOC "CTRL1_EN" D10;
IO_PORT "CTRL1_EN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "EXTIOSEL" D11;
IO_PORT "EXTIOSEL" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "WAIT" F10;
IO_PORT "WAIT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "INT" J11;
IO_PORT "INT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_BLUE" A9;
IO_PORT "LED_BLUE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_RED" L12;
IO_PORT "LED_RED" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_GREEN" C9;
IO_PORT "LED_GREEN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "VIDEO_O" L9;
IO_PORT "VIDEO_O" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "VSYNC_O" N8;
IO_PORT "VSYNC_O" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "HSYNC_O" R9;
IO_PORT "HSYNC_O" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" F15;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" C13;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" D16;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED[0]" E14;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "REQ" A13;
IO_PORT "REQ" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[3]" B10;
IO_PORT "ESP_S[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[2]" G11;
IO_PORT "ESP_S[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[1]" H12;
IO_PORT "ESP_S[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[0]" J12;
IO_PORT "ESP_S[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CASS_OUT" C10;
IO_PORT "CASS_OUT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "DBUS_EN" J16;
IO_PORT "DBUS_EN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "DBUS_DIR" T15;
IO_PORT "DBUS_DIR" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ABUS_DIR_N" R16;
IO_PORT "ABUS_DIR_N" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ABUS_EN" T12;
IO_PORT "ABUS_EN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ABUS_DIR" R11;
IO_PORT "ABUS_DIR" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CTRL_EN" P6;
IO_PORT "CTRL_EN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CTRL_DIR" T6;
IO_PORT "CTRL_DIR" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MISO" K13;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "_D[7]" J14;
IO_PORT "_D[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_D[6]" G14;
IO_PORT "_D[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_D[5]" G15;
IO_PORT "_D[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_D[4]" F14;
IO_PORT "_D[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_D[3]" F16;
IO_PORT "_D[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_D[2]" E15;
IO_PORT "_D[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_D[1]" D14;
IO_PORT "_D[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_D[0]" A15;
IO_PORT "_D[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[15]" N16;
IO_PORT "_A[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[14]" N15;
IO_PORT "_A[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[13]" N14;
IO_PORT "_A[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[12]" L16;
IO_PORT "_A[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[11]" P16;
IO_PORT "_A[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[10]" L14;
IO_PORT "_A[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[9]" L13;
IO_PORT "_A[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[8]" P15;
IO_PORT "_A[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[7]" R12;
IO_PORT "_A[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[6]" P13;
IO_PORT "_A[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[5]" R13;
IO_PORT "_A[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[4]" T14;
IO_PORT "_A[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[3]" M15;
IO_PORT "_A[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[2]" M14;
IO_PORT "_A[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[1]" F13;
IO_PORT "_A[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_A[0]" G12;
IO_PORT "_A[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_OUT_N" P8;
IO_PORT "_OUT_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_WR_N" T8;
IO_PORT "_WR_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_RD_N" R8;
IO_PORT "_RD_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_IN_N" T7;
IO_PORT "_IN_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DONE" E16;
IO_PORT "DONE" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "MOSI" H13;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "SCK" K12;
IO_PORT "SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CS_FPGA" K11;
IO_PORT "CS_FPGA" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk_in" H11;
IO_PORT "clk_in" PULL_MODE=UP;
IO_LOC "HDMI_TXC_P" G16,H15;
IO_PORT "HDMI_TXC_P" PULL_MODE=NONE DRIVE=8;
IO_LOC "HDMI_TX_P[0]" H16,H14;
IO_PORT "HDMI_TX_P[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "HDMI_TX_P[1]" K16,J15;
IO_PORT "HDMI_TX_P[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "HDMI_TX_P[2]" K15,K14;
IO_PORT "HDMI_TX_P[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "_M1_N" P11;
IO_PORT "_M1_N" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "WAIT_IN_N" R7;
IO_PORT "WAIT_IN_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "EXTIOSEL_IN_N" E10;
IO_PORT "EXTIOSEL_IN_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "VIDEOX" N7;
IO_PORT "VIDEOX" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CONF[1]" C11;
IO_PORT "CONF[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "HSYNCX" L8;
IO_PORT "HSYNCX" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_RESET_N" T11;
IO_PORT "_RESET_N" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CONF[2]" B11;
IO_PORT "CONF[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_IOREQ_N" P9;
IO_PORT "_IOREQ_N" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CONF[0]" A12;
IO_PORT "CONF[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "_RAS_N" T9;
IO_PORT "_RAS_N" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CONF[3]" A11;
IO_PORT "CONF[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "VSYNCX" M6;
IO_PORT "VSYNCX" IO_TYPE=LVCMOS33 PULL_MODE=UP;
