:root {
  --label-color: rgb(222,222,222);
}

body {
  background: #a1a799;
  color: #0D0;
  border: 0;
  padding: 0;
  margin: 0;
}

input {
  font-size: 1em;
}

label {
  color: var(--label-color);
}

h1 {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 2px solid green;
  padding: 3px 6px;
}

#navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
  box-shadow: rgb(0 0 0 / 30%) 2px 2px 10px;
  user-select: none;
}
#navbar-content {
  padding: 10px;
}
#sut-name, #sut-model-no {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #efc;
  font-size: 1.5em;
}

#sut-model-no {
  color: #fff;
}

#debug-controls {
  float: right;
}

#debug-controls > svg {
  height: 2em;
  width: 2em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#debug-controls > svg:hover {
  background: rgba(255, 255, 255, 0.2);
}

#debug-controls > svg:active {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

.button {
  cursor: pointer;
}

.section {
  font-family: 'Roboto', sans-serif;
  display: inline-grid;
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  box-shadow:rgba(0, 0, 0, 0.5) 2px 2px 10px;
}

.section-title {
  display: block;
  color:white;
  font-size: 0.8em;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px 3px 0 0;
}

.panel {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 2px;
  padding: 10px;
}

#left-hand-side {
  display: inline-grid;
  grid-template-columns: auto;
}

#registers *, #selection * {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

#registers > div {
  margin: 0 8px;
}

#registers label {
  width: 3ch;
  display: inline-block;
}

.register {
  background-color: rgba(0, 0, 0, 0.5);
  color: #0D0;
  border: 1px rgb(0, 88, 0) solid;
  padding: 1px;
}
input.register {
  width: 2ch;
}

#selection {
  padding: 8px;
  display: grid;
  grid-template-columns: min-content min-content min-content auto min-content;
}
#selection label {
  margin-right: 2em;
}
.add-breakpoint {
  width: 22px;
  height: 25px;
  cursor: pointer;
  margin-right: 5px;
}
.add-breakpoint:hover {
  background: rgba(255, 255, 255, 0.2);
}
.add-breakpoint:active {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

#breakpoints {
  padding: 10px;
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  grid-row-gap: 2px;
}
.remove-breakpoint {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="orange"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>');
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.breakpoint-type {
  font-size: 0.8em;
  padding-top: 4px;
  margin-left: 4px;
  text-align: center;;
  color: var(--label-color);
  cursor: zoom-in;
}


#flags{
  display: grid;
  grid-template-columns: repeat(8, auto);
}

.flag {
  border: #0D0 solid 1px;
  display: inline-block;
  text-align: center;
  color: #9b9b9b;
}

.flag-enabled {
  background: rgb(0, 88, 0);
  color: white;
}

.errorTitle {
  animation-name: errorTitleColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes errorTitleColor {
  0%   {color: rgb(200, 0, 0);}
  50%  {color: #ff9148;}
  100% {color: rgb(202, 0, 0);}
}

#memory-container {
  display: grid;
  grid-template-columns: repeat(256, auto);
  background: black;
  height: 1280px;
  width: 1280px;
}

.byte {
  width: 2px;
  height: 2px;
  margin: 1px;
  color: gray;
}

.map-region-list-entry {
  font-size: 0.9em;
  margin: 2px;
  background: rgba(0, 0, 0, 0.2);
  padding: 3px;
  cursor: pointer;
}

.map-region-list-entry:hover {
  background: rgba(255, 0, 0, 0.5)
}

#screen {
  font-family: 'TreasureMIII64C', 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.8em;
  background: black;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

#disassembler-section {
  background-color: rgba(0,0,255,0.5);
}
#disassembler {
  color: white;
  font-size: 15px;
}