
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-m1-m3.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions-m1-m3.csv"
CONFIG_LWIP_LOCAL_HOSTNAME="TRS-IO-M1"
CONFIG_TRS_IO_MODEL_1=y
CONFIG_TRS_IO_MODEL_3=n
CONFIG_TRS_IO_PP=n
