<html>
  <head>
    <title>TRS-IO - WiFi Configuration</title>
  </head>
  <body>
    <h1>TRS-IO</h1>
    <h3>Configuration</h3>
    Enter the SSID and password of the WiFi network that TRS-IO
    should connect to.<p>
    <form action="/config" method="post">
        SSID: <input type="text" maxlength="32" name="ssid"><p>
        Password: <input type="password" maxlength="32" name="passwd"><p><p>
        Timezone: <input type="text" maxlength="32" name="tz"> <small>e.g., GMT+8 or PST8PDT,M3.2.0,M11.1.0</small><p><p>
        SMB URL: <input type="text" maxlength="100" name="smb_url"><p>
        SMB User: <input type="text" maxlength="32" name="smb_user"><p>
        SMB Password: <input type="text" maxlength="32" name="smb_passwd"><p><p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
