<html>
  <head>
    <title>RetroStoreCard - WiFi Configuration</title>
  </head>
  <body>
    <h1>RetroStoreCard</h1>
    <h3>WiFi Configuration</h3>
    The WiFi credentials have been uploaded. The RetroStoreCard
    will now reboot and attempt to connect to the specified network.
    If the connection is successful, the LED will light green for
    several seconds. If the RetroStoreCard could not connect, the LED
    will turn red. Please visit
    <a href="https://retrostore.org/rsc/">RetroStoreCard online</a>
    for more documentation.
  </body>
</html>
