<html>
  <head>
    <title>TRS-IO - WiFi Configuration</title>
  </head>
  <body>
    <h1>TRS-IO</h1>
    <h3>WiFi Configuration</h3>
    The WiFi credentials have been uploaded. TRS-IO
    will now reboot and attempt to connect to the specified network.
    If the connection is successful, the LED will light green for
    several seconds. If TRS-IO could not connect, the LED
    will turn red. Please visit
    <a href="https://github.com/apuder/TRS-IO">TRS-IO online</a>
    for more documentation.
  </body>
</html>
