//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Mon 05 23 22:11:28 2022

IO_LOC "sw[1]" 4;
IO_PORT "sw[1]" PULL_MODE=UP;
IO_LOC "sw[0]" 3;
IO_PORT "sw[0]" PULL_MODE=UP;
IO_LOC "led[5]" 16;
IO_PORT "led[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[4]" 15;
IO_PORT "led[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[3]" 14;
IO_PORT "led[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[2]" 13;
IO_PORT "led[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[1]" 11;
IO_PORT "led[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[0]" 10;
IO_PORT "led[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "WAIT" 57;
IO_PORT "WAIT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[2]" 31;
IO_PORT "ESP_S[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[1]" 49;
IO_PORT "ESP_S[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[0]" 48;
IO_PORT "ESP_S[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_REQ" 76;
IO_PORT "ESP_REQ" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "TRS_INT" 56;
IO_PORT "TRS_INT" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "TRS_DIR" 53;
IO_PORT "TRS_DIR" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "TRS_OE" 54;
IO_PORT "TRS_OE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MUX_A[1]" 63;
IO_PORT "MUX_A[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "MUX_A[0]" 55;
IO_PORT "MUX_A[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "MISO" 39;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "TRS_D[7]" 85;
IO_PORT "TRS_D[7]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_D[6]" 83;
IO_PORT "TRS_D[6]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_D[5]" 81;
IO_PORT "TRS_D[5]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_D[4]" 86;
IO_PORT "TRS_D[4]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_D[3]" 82;
IO_PORT "TRS_D[3]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_D[2]" 79;
IO_PORT "TRS_D[2]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_D[1]" 84;
IO_PORT "TRS_D[1]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_D[0]" 80;
IO_PORT "TRS_D[0]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "ESP_DONE" 77;
IO_PORT "ESP_DONE" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Z80_MEMREQ" 35;
IO_PORT "Z80_MEMREQ" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Z80_M1" 51;
IO_PORT "Z80_M1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Z80_WR" 41;
IO_PORT "Z80_WR" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Z80_RD" 42;
IO_PORT "Z80_RD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Z80_IOREQ" 40;
IO_PORT "Z80_IOREQ" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "TRS_AH[7]" 27;
IO_PORT "TRS_AH[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "TRS_AH[6]" 26;
IO_PORT "TRS_AH[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "TRS_AH[5]" 28;
IO_PORT "TRS_AH[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "TRS_AH[4]" 30;
IO_PORT "TRS_AH[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "TRS_AH[3]" 29;
IO_PORT "TRS_AH[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "TRS_AH[2]" 25;
IO_PORT "TRS_AH[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "TRS_AH[1]" 33;
IO_PORT "TRS_AH[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "TRS_AH[0]" 34;
IO_PORT "TRS_AH[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "CS" 32;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "MOSI" 37;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "SCK" 36;
IO_PORT "SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk_in" 52;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;

//IO_LOC "tmds_p[2]" 75;
//IO_LOC "tmds_p[1]" 73;
//IO_LOC "tmds_p[0]" 71;
//IO_LOC "tmds_clock_p" 69;
//IO_PORT "tmds_p[2]" IO_TYPE=LVCMOS33 DRIVE=4 SLEW_RATE=SLOW;
//IO_PORT "tmds_p[1]" IO_TYPE=LVCMOS33 DRIVE=4 SLEW_RATE=SLOW;
//IO_PORT "tmds_p[0]" IO_TYPE=LVCMOS33 DRIVE=4 SLEW_RATE=SLOW;
//IO_PORT "tmds_clock_p" IO_TYPE=LVCMOS33 DRIVE=4 SLEW_RATE=SLOW;
//IO_LOC "tmds_n[2]" 74;
//IO_LOC "tmds_n[1]" 72;
//IO_LOC "tmds_n[0]" 70;
//IO_LOC "tmds_clock_n" 68;
//IO_PORT "tmds_n[2]" IO_TYPE=LVCMOS33 DRIVE=4 SLEW_RATE=SLOW;
//IO_PORT "tmds_n[1]" IO_TYPE=LVCMOS33 DRIVE=4 SLEW_RATE=SLOW;
//IO_PORT "tmds_n[0]" IO_TYPE=LVCMOS33 DRIVE=4 SLEW_RATE=SLOW;
//IO_PORT "tmds_clock_n" IO_TYPE=LVCMOS33 DRIVE=4 SLEW_RATE=SLOW;

IO_LOC "tmds_p[2]" 75,74;
IO_LOC "tmds_p[1]" 73,72;
IO_LOC "tmds_p[0]" 71,70;
IO_LOC "tmds_clock_p" 69,68;
IO_PORT "tmds_p[2]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_p[1]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_p[0]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_clock_p" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
