//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Mon 05 23 22:11:28 2022

IO_LOC "sw[1]" 4;
IO_PORT "sw[1]" PULL_MODE=UP;
IO_LOC "sw[0]" 3;
IO_PORT "sw[0]" PULL_MODE=UP;
IO_LOC "led[5]" 16;
IO_PORT "led[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[4]" 15;
IO_PORT "led[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[3]" 14;
IO_PORT "led[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[2]" 13;
IO_PORT "led[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[1]" 11;
IO_PORT "led[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[0]" 10;
IO_PORT "led[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "EXTIOSEL" 56;
IO_PORT "EXTIOSEL" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "WAIT" 55;
IO_PORT "WAIT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[2]" 31;
IO_PORT "ESP_S[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[1]" 49;
IO_PORT "ESP_S[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_S[0]" 48;
IO_PORT "ESP_S[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ESP_REQ" 76;
IO_PORT "ESP_REQ" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "TRS_INT" 54;
IO_PORT "TRS_INT" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "TRS_DIR" 51;
IO_PORT "TRS_DIR" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "DBUS_SEL_N" 53;
IO_PORT "DBUS_SEL_N" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ABUS_SEL_N" 42;
IO_PORT "ABUS_SEL_N" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MISO" 39;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "TRS_AD[0]" 79;
IO_PORT "TRS_AD[0]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_AD[1]" 80;
IO_PORT "TRS_AD[1]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_AD[2]" 81;
IO_PORT "TRS_AD[2]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_AD[3]" 82;
IO_PORT "TRS_AD[3]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_AD[4]" 83;
IO_PORT "TRS_AD[4]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_AD[5]" 84;
IO_PORT "TRS_AD[5]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_AD[6]" 85;
IO_PORT "TRS_AD[6]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "TRS_AD[7]" 86;
IO_PORT "TRS_AD[7]" PULL_MODE=UP DRIVE=12 OPEN_DRAIN=OFF;
IO_LOC "ESP_DONE" 77;
IO_PORT "ESP_DONE" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Z80_OUT" 35;
IO_PORT "Z80_OUT" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Z80_IN" 41;
IO_PORT "Z80_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "Z80_IOREQ" 33;
IO_PORT "Z80_IOREQ" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CS" 32;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "MOSI" 37;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "SCK" 36;
IO_PORT "SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk_in" 52;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;
