//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Wed 01 25 21:33:22 2023

IO_LOC "LED_GREEN" A9;
IO_PORT "LED_GREEN" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED_RED" L12;
IO_PORT "LED_RED" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED_BLUE" C9;
IO_PORT "LED_BLUE" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED[3]" D10;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED[2]" E10;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED[1]" R7;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "LED[0]" P7;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "MISO" K13;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MOSI" H13;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "SCK" K12;
IO_PORT "SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CS_FPGA" K11;
IO_PORT "CS_FPGA" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk_in" H11;
IO_PORT "clk_in" PULL_MODE=UP;
IO_LOC "CONF[1]" C11;
IO_PORT "CONF[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CONF[2]" B11;
IO_PORT "CONF[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CONF[0]" A12;
IO_PORT "CONF[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CONF[3]" A11;
IO_PORT "CONF[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "FLASH_SPI_CS_N" M9;
IO_PORT "FLASH_SPI_CS_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "FLASH_SPI_CLK" L10;
IO_PORT "FLASH_SPI_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "FLASH_SPI_SI" R10;
IO_PORT "FLASH_SPI_SI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "FLASH_SPI_SO" P10;
IO_PORT "FLASH_SPI_SO" IO_TYPE=LVCMOS33 PULL_MODE=UP;
